<a href="https://colab.research.google.com/github/LorenzoMorabito/Python_exercise/blob/master/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Remember:

 list,set,dictionary are mutable

 tuple is immutable list,tuple elements can be reached by index


for dictionary it is not an option to reach by index the element key has to be known to reach


and for set the items cannot be reached directly but it is possible to iterate.

In [5]:
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":4, "monkey":2, "dog":4,"fish":2}

1. print the lengths of `list1`,`tuple1`,`set1`,`dict1`

In [ ]:
print(len(list1),'\n', len(tuple1),'\n', len(set1),'\n', len(dict1))

4
 4
 4
 4

2. print the first element of `list1` and `tuple1`

In [ ]:

print(list1[1], tuple1[1])

monkey monkey

3. print the value of `lion` key of `dict1`

In [ ]:


print(dict1.get('lion'))

print(dict1['lion'])

for animal, value in dict1.items():
  if animal == 'lion':
    print(value)

4
4
4

4. change the 2nd position element of `list1` to "rabbit"

In [31]:

list1[1] = 'rabbit'

In [32]:
list1.insert(2, 'monkey')

In [33]:
print(list1)

['lion', 'rabbit', 'monkey', 'dog', 'fish', 'monkey', 'p', 'a', 'r', 'r', 'o', 't', 'p', 'a', 'r', 'r', 'o', 't', 'parrot', 'cow']

5. try to change the 2nd position element of the tuple to "rabbit" and explain what happened.

In [8]:
#la tupla è una struttura dati con la caratteristica dell'immutabilità, ciò rende impossibile cambiare i dati al suo ionterno una volta che la tupla è stata creata

print(tuple1[1])

tuple1[1] = 'rabbit'

monkey

TypeError: ignored

In [22]:
print(tuple1)


tuple1.index('lion')
tuple1.index('fish')

tuple1.count('dog')

('lion', 'monkey', 'dog', 'fish')

1

6. add "monkey" to `list1`

In [23]:
list1.append('monkey')

In [ ]:
# Test personale
list1.extend('parot')

In [29]:
# Test personale
list2 = ('parrot', 'cow')
list1.extend(list2)

7. remove "rabbit" from `list1`

In [35]:
list1.remove('rabbit')

In [38]:
#dog
list1.pop(2) #rimuove l'elemento e restituisce il valore rimosso

'dog'

In [39]:
print(list1)

['lion', 'monkey', 'fish', 'monkey', 'p', 'a', 'r', 'r', 'o', 't', 'p', 'a', 'r', 'r', 'o', 't', 'parrot', 'cow']

8. in `dict1` the number of feet is written as value to each animal the fish has wrong value just fix it.

In [41]:
dict1['fish'] = 0

In [42]:
print(dict1)

{'lion': 4, 'monkey': 2, 'dog': 4, 'fish': 0}