<a href="https://colab.research.google.com/github/LorenzoMorabito/Python_exercise/blob/master/Exercise_Functions_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Import random function
2. Create a function random_list_summer
3. creates n elemented list with min value = -100 max value = 100
4. it has to print the list first
5. sum all the elements of it default element number is 15


Don't forget to call the function
for some features and functions you might have to search on the internet do it don't lose your courage

In [3]:
#import random
import random

lst = [random.randint(-100, 100) for num in range(15)]

In [4]:
#print the list first
lst

[-74, -1, -10, 72, -44, -59, -48, -63, 43, -8, -76, 79, 51, 51, -76]

In [10]:
somma = sum(a for a in lst)

In [8]:
somma

-163